<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ваше имя">
    <meta name="description" content="{{ description }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    {% include 'header.html' %}
    <main>
        {{ content | safe }}
    </main>
    {% include 'footer.html' %}
    <script src="assets/js/script.js"></script>
</body>
</html>
